<app-loading *ngIf="isLoading$ | async"></app-loading>
<app-error-message
  *ngIf="error$ | async"
  [message]="error$ | async"
></app-error-message>
<div *ngIf="feed$ | async">
  <div class="row">
    <div
      class="col-lg-6 col-md-12 col-sm-12 col-xs-12"
      *ngFor="let article of (feed$ | async)?.articles"
    >
      <div class="card border-top border-info shadow">
        <div class="card-header">
          <div class="row">
            <div class="col-12 text-center">
              <a [routerLink]="['/profiles', article?.author?.username]">
                <img alt="User Article Photo" [src]="article?.author?.image" />
              </a>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mx-auto my-auto">
              <a [routerLink]="['/profiles', article?.author?.username]">{{
                article?.author?.username
              }}</a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <app-add-to-favorites
                [isFavorited]="article.favorited"
                [articleSlug]="article.slug"
                [favoritesCount]="article.favoritesCount"
              ></app-add-to-favorites>
            </div>
          </div>
          <hr />
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
              <a [routerLink]="['/articles', article?.slug]">
                <h3 *ngIf="article?.title?.length > 15">
                  {{ article?.title.substring(0, 15) }} ...
                </h3>

                <h3 *ngIf="article?.title?.length < 15">
                  {{ article?.title }}
                </h3>
              </a>
            </div>
          </div>

          <div class="card-description">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                <a [routerLink]="['/articles', article?.slug]">
                  <p>{{ article?.description }}</p>
                </a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <span> Read more... </span>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <app-tag-list [tags]=""></app-tag-list>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <app-pagination
        [total]="(feed$ | async)?.articlesCount"
        [limit]="limit"
        [url]="baseUrl"
        [currentPage]="currentPage"
      ></app-pagination>
    </div>
  </div>
</div>
