<div class="card border-right border-info">
  <div class="card-header text-center">Popular Tags</div>

  <div class="row" *ngIf="isLoading$ | async">
    <div class="col-12 text-center">
      <app-loading></app-loading>
    </div>
  </div>

  <div class="row" *ngIf="error$ | async">
    <div class="col-12 text-center">
      <app-error-message [message]="error$ | async"></app-error-message>
    </div>
  </div>

  <div class="card-body">
    <a *ngFor="let tag of popularTags$ | async" [routerLink]="['/tags', tag]">
      <span class="badge badge-info mr-1">
        {{ tag }}
      </span>
    </a>
  </div>
</div>
