.card-user .author .block.block-one {
  background: rgba(29, 140, 248, 0.6);
  background: linear-gradient(
    to right,
    rgba(29, 140, 248, 0.6) 0%,
    rgba(29, 140, 248, 0) 100%
  );
  transform: rotate(150deg);
  margin-top: -90px;
  margin-left: -50px;
}

.card-user .author .block.block-two {
  background: rgba(29, 140, 248, 0.6);
  background: linear-gradient(
    to right,
    rgba(29, 140, 248, 0.6) 0,
    rgba(29, 140, 248, 0) 100%
  );
  transform: rotate(30deg);
  margin-top: -40px;
  margin-left: -100px;
}

.card-user .author .block.block-three {
  background: rgba(29, 140, 248, 0.6);
  background: linear-gradient(
    to right,
    rgba(29, 140, 248, 0.6) 0%,
    rgba(29, 140, 248, 0) 100%
  );
  transform: rotate(170deg);
  margin-top: -70px;
  right: -45px;
}

.card-user .author .block.block-four {
  background: rgba(29, 140, 248, 0.6);
  background: linear-gradient(
    to right,
    rgba(29, 140, 248, 0.6) 0%,
    rgba(29, 140, 248, 0) 100%
  );
  transform: rotate(150deg);
  margin-top: -25px;
  right: -45px;
}
